<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>forget_pwd</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
    <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>

    <link rel="stylesheet" type="text/css" href="/stylesheets/forget_pwd.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/password.css"/>

</head>
<body>
<div class="titleLine">
    <div><a type="button"  href="/search" class="myButton">Search</a></div>
    <div class="homeb"><a type="button" href="/editprofile"class="myButton">Edit My Profile</a></div>

    <div class="homec"> <a  type="button"  href="/" class="myButton">Log out</a></div>

    <hr>
</div>
<div id="forget_frame">

    <td><label for="password" class="label_input">Password</label></td>
    <td><input type="password" class="form-control" name="password" id="password" placeholder="password"></td>
    <br>
    <tr>
        <td><label for="confirm_password" class="label_input">Enter your password again</label></td>
        <td><input type="password" class="form-control" name="confirm_password" id="confirm_password" placeholder="Enter your password again"></td>
    </tr>


    <br>
    <button type="button" class="btn btn-default" id="submit">Confirm</button>

</div>

</body>
</html>
<script>
    $(document).ready(function(){
        $("#Form").validate({
            rules: {

                password: {
                    required: true,
                    minlength: 5
                },
                confirm_password: {
                    required: true,
                    minlength: 5,
                    equalTo: "#password"
                },
            agree:"required"
            },
            messages: {

                password: {
                    required: "Please enter your password",
                    minlength: "at five letters"
                },
                confirm_password: {
                    required: "Please enter your password",
                    minlength: "at least five letters",
                    equalTo: "not match"
                }
            }
        });
        $("#submit").click(function(){
            var password=$('#password').val();

            $.ajax({
                type: "post",
                url: "/password",
                dataType: "json",
                data:{ password: password },
                success: function(data){

                    console.log(data);
                    if(data){
                        if(data.message==false){
                            alert('it is same.');
                            window.location.href="#";
                        }else{
                            alert('success!');
                            window.location.href="/editprofile";
                        }
                    }

                }
            });
        });
    });
</script>

